@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Nunito Sans", sans-serif;
  box-sizing: border-box;
}

/* Navigation Start */

.icon-container {
  display: none;
}

.account-container .iconClose-container {
  display: none;
}

.divider-container {
  border-top: 5px solid pink;
  border-bottom: 5px solid pink;
  position: relative;
  width: 100%;
}

.divider-container nav {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  height: 85px;
  margin: 0 auto;
}

.logo-container h1 {
  color: #e92066;
  font-size: 28px;
}

.menuacc-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.menu-container {
  display: flex;
  list-style: none;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
}

.menu-container li {
  margin-right: 30px;
}

.menu-container li a {
  text-decoration: none;
  color: #e92066;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.account-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.account-container .anchor-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.account-container .anchor-container a {
  text-decoration: none;
  color: #e92066;
}

.account-container .anchor-container a.icon-user {
  color: #e92066;
  font-size: 18px;
  margin-right: 5px;
}

.account-container .anchor-container .login {
  font-size: 16px;
  font-weight: 700;
  margin-right: 25px;
}

.account-container .anchor-container a.icon-carts {
  font-size: 22px;
}

/* Navigation End */

/* Header Section Start */
.dividerHeader-container {
  padding: 0 150px;
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgba(245, 245, 245, 0.6);
}

.dividerHeader-container .header-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  /* background-color: red; */
  overflow: hidden;
}

.header-container .heading-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.header-container .heading-container h1 {
  font-size: 52px;
  line-height: 60px;
  font-weight: 700;
  color: #e92066;
  margin-bottom: 20px;
  text-align: left;
}

.header-container .heading-container p {
  font-size: 22px;
  text-align: left;
  font-weight: 500;
  color: rgb(48, 48, 48);
}

.header-container .heading-container a {
  margin-top: 20px;
  font-size: 16px;
  padding: 10px 6px;
  outline: none;
  cursor: pointer;
  width: 150px;
  border-radius: 50px;
  text-align: center;
  text-decoration: none;
  color: whitesmoke;
  background-color: #e92066;
  transition: all 0.3s ease-in-out;
}

.header-container .heading-container a:hover {
  background-color: whitesmoke;
  border: 1px solid #e92066;
  color: #e92066;
}

.header-container .headingpict-container {
  flex: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  overflow: hidden;
}

.header-container .headingpict-container img {
  width: 100%;
  height: auto;
}
/* Header Section End */

/* Shop Section Start */

.dividerShop-container {
  padding: 0 150px;
  min-height: 100vh;
  background-color: rgba(245, 245, 245, 0.6);
  border-top: 1px solid black;
}

.sectionShop-container {
  height: 100%;
}

.headingShop-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.headingShop-container h1 {
  font-size: 38px;
  letter-spacing: 1px;
  color: #e92066;
  margin-bottom: 20px;
}

.headingShop-container p {
  font-size: 18px;
  /* letter-spacing: 1px; */
  color: rgb(48, 48, 48);
  line-height: 24px;
}

.sectionShop-container .products-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  cursor: pointer;
}

.products-container img {
  height: 400px;
}

.products-container .product-container h1 {
  font-size: 22px;
  font-weight: 500;
  color: #e92066;
  margin-top: 10px;
}

.products-container .product-container h2 {
  font-size: 16px;
  font-weight: 600;
  color: rgb(48, 48, 48);
  margin-top: 5px;
  margin-bottom: 20px;
}

/* Shop Section End */

/* About Section Start */

.dividerAbout-container {
  padding: 0 180px;
  height: 100vh;
  background-color: rgba(245, 245, 245, 0.6);
  border-top: 1px solid black;
  position: relative;
}

.dividerAbout-container .about-container {
  margin-top: 50px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container .aboutHeading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  flex: 1;
}

.aboutHeading-container h2 {
  font-size: 22px;
  letter-spacing: 1px;
  color: #e92066;
  margin-bottom: 10px;
}

.aboutHeading-container h1 {
  font-size: 38px;
  letter-spacing: 1px;
  color: #e92066;
  font-weight: 900;
  margin-bottom: 10px;
}

.aboutHeading-container p {
  font-size: 18px;
  color: rgb(48, 48, 48);
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 25px;
}

.about-container .aboutImg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex: 1;
  padding: 20px;
  position: relative;
}

.aboutImg1 img {
  height: 100%;
  width: 100%;
}

/* Contact Section Start */

.dividerContact-container {
  padding: 70px 180px;
  height: 100vh;
  background-color: rgba(245, 245, 245, 0.6);
  border-top: 1px solid black;
}

.dividerContact-container .contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}

.contact-container .left-contact {
  width: 50%;
  height: 100%;
  padding-right: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-contact h1 {
  font-size: 38px;
  color: #e92066;
  margin-bottom: 20px;
}

.left-contact p {
  font-size: 17px;
  color: rgb(48, 48, 48);
  margin-bottom: 10px;
  font-weight: 500;
}

.left-contact .otherWays-container {
  height: 66%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.otherWays-container > h2 {
  font-size: 22px;
  font-weight: 700;
  color: #e92066;
}

.topOther-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
}

.topOther-container .leftOther-container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.leftOther-container h2 {
  font-size: 17px;
  font-weight: 500;
}

.leftOther-container a {
  font-size: 17px;
  font-weight: 500;
  color: #e92066;
}

.topOther-container .rightOther-container {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightOther-container h2 {
  font-size: 17px;
  font-weight: 500;
}

.rightOther-container a {
  font-size: 17px;
  font-weight: 500;
  color: #e92066;
}

.bottomOther-container {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: auto;
}

.bottomOther-container h2 {
  font-size: 17px;
  font-weight: 500;
}

.contact-container .right-contact {
  width: 50%;
  height: 100%;
}

.right-contact .form-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: center;
}

.form-container .nameInput-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  width: 100%;
}

.nameInput-container .firstName-container,
.nameInput-container .lastName-container {
  width: 50%;
}

.firstName-container h1,
.lastName-container h1 {
  font-size: 17px;
  font-weight: 600;
  color: #e92066;
}

.firstName-container input,
.lastName-container input {
  padding: 15px;
  border: none;
  width: 90%;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}

.form-container .email-container,
.form-container .message-container {
  width: 100%;
}

.message-container {
  margin-top: 30px;
}

.email-container h1,
.message-container h1 {
  font-size: 17px;
  font-weight: 600;
  color: #e92066;
}

.email-container input,
.message-container textarea {
  padding: 15px;
  border: none;
  width: 95%;
  border-bottom: 2px solid black;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  font-weight: 600;
}

.btn-container input {
  padding: 13px 17px;
  width: 150px;
  text-align: center;
  outline: none;
  background-color: rgba(214, 214, 214, 0.973);
  border: 1px solid #e92066;
  border-radius: 50px;
  cursor: pointer;
  color: #e92066;
  font-size: 16px;
  transition: background-color 0.5s ease-in-out;
  margin-top: 20px;
}

.btn-container input:hover {
  background-color: rgba(245, 245, 245, 0.6);
}

/* Footer Section Start */

.footerDivider-container {
  height: 200px;
  width: 100%;
  padding: 0 180px;
  position: relative;
  background-color: rgba(214, 214, 214, 0.973);
}

.footerDivider-container .footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

.footer-container .footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.footer a {
  color: rgb(48, 48, 48);
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 10px;
  display: inline-block;
  transition: color 0.4s ease-in-out;
}

.footer a:hover {
  color: rgba(0, 85, 0, 1);
}

.iconFooter-container a {
  margin-right: 10px;
}

@media (max-width: 768px) and (min-width: 576px) {
  /* Navigation Responsive */

  .account-container .iconClose-container {
    display: block;
  }

  nav .icon-container {
    display: block;
  }

  nav .icon-container i {
    font-size: 24px;
    color: #e92066;
  }

  .menuacc-container {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background-color: rgba(240, 240, 240, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 2;
  }

  .menuacc-container .menu-container {
    display: flex;
    order: 2;
    flex-direction: column;
    margin-right: 0px;
    padding-right: 0px;
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-25%, -50%);
    margin-top: 20px;
  }

  .menu-container li {
    margin-right: 0;
    width: 100%;
    height: 60px;
    display: block;
  }

  .menu-container li a {
    font-size: 20px;
  }

  .menuacc-container .account-container {
    order: 1;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e92066;
  }

  .account-container .anchor-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .account-container .iconClose-container {
    font-size: 24px;
    color: rgb(0, 102, 0);
  }

  /* Header Responsive */
  .dividerHeader-container {
    padding: 0 50px;
  }

  .header-container .heading-container h1 {
    font-size: 42px;
    line-height: 50px;
  }

  .header-container .heading-container p {
    font-size: 18px;
    text-align: left;
  }

  .header-container .heading-container a {
    margin-top: 20px;
    font-size: 14px;
    padding: 8px 4px;
    width: 110px;
  }

  .header-container .headingpict-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 10px;
  }

  .header-container .headingpict-container img {
    width: 100%;
    height: auto;
  }

  /* Shop Section Responsive */

  .dividerShop-container {
    padding: 0 50px;
  }

  /* About Section Responsive */

  .dividerAbout-container {
    padding: 0 50px;
    height: 100vh;
    padding-bottom: 20px;
  }

  .about-container .aboutHeading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    flex: 1;
  }

  .aboutHeading-container h2 {
    font-size: 20px;
    letter-spacing: 1px;
    color: #e92066;
    margin-bottom: 10px;
  }

  .aboutHeading-container h1 {
    font-size: 36px;
    line-height: 40px;
  }

  .aboutHeading-container p {
    font-size: 16px;
    line-height: 20px;
  }

  .about-container .aboutImg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex: 1;
    padding: 20px;
    position: relative;
  }

  .aboutImg1 img {
    height: 100%;
    width: 100%;
  }

  /* Contact Section Responsive */

  .dividerContact-container {
    padding: 50px 100px;
    height: 100vh;
    background-color: rgba(245, 245, 245, 0.6);
    border-top: 1px solid black;
  }

  .dividerContact-container .contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
  }

  .contact-container .left-contact {
    width: 50%;
    height: 100%;
    padding-right: 40px;
  }

  .left-contact h1 {
    font-size: 38px;
    color: #e92066;
    margin-bottom: 20px;
  }

  .left-contact p {
    font-size: 17px;
    color: rgb(48, 48, 48);
    margin-bottom: 10px;
    font-weight: 500;
  }

  .left-contact .otherWays-container {
    height: 66%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Footer Section Responsive */

  .footerDivider-container {
    height: auto;
    width: 100%;
    padding: 40px 100px;
    position: relative;
    background-color: rgba(214, 214, 214, 0.973);
    box-sizing: border-box;
  }

  .footerDivider-container .footer-container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
  }

  .footer-container .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }

  .footer a {
    color: rgb(48, 48, 48);
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    transition: color 0.4s ease-in-out;
  }

  .footer a:hover {
    color: rgba(0, 85, 0, 1);
  }

  .iconFooter-container a {
    margin-right: 10px;
  }
}

@media (max-width: 575px) {
  /* Navigation Responsive*/
  .account-container .iconClose-container {
    display: block;
  }

  nav .icon-container {
    display: block;
  }

  .divider-container nav {
    width: 100%;
  }

  nav .icon-container i {
    font-size: 24px;
    color: rgb(0, 102, 0);
  }

  .menuacc-container {
    position: absolute;
    opacity: 0;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background-color: rgba(240, 240, 240, 1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    z-index: 2;
  }

  .menuacc-container .menu-container {
    display: flex;
    order: 2;
    flex-direction: column;
    margin-right: 0px;
    padding-right: 0px;
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-25%, -25%);
    margin-top: 20px;
  }

  .menu-container li {
    margin-right: 0;
    width: 100%;
    height: 60px;
  }

  .menu-container li a {
    font-size: 20px;
  }

  .menuacc-container .account-container {
    order: 1;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid rgb(0, 102, 0);
  }

  .account-container .anchor-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .account-container .iconClose-container {
    font-size: 24px;
    color: rgb(0, 102, 0);
  }

  /* Header Responsive */
  .dividerHeader-container {
    padding: 50px 30px;
    height: 100vh;
  }

  .dividerHeader-container .header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }

  .header-container .heading-container {
    order: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .header-container .heading-container h1 {
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 10px;
  }

  .header-container .heading-container p {
    font-size: 16px;
    text-align: left;
  }

  .header-container .heading-container a {
    margin-top: 15px;
    font-size: 16px;
    padding: 14px 6px;
    width: 100%;
  }

  .header-container .headingpict-container {
    order: 1;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-left: 10px;
  }

  .header-container .headingpict-container img {
    width: 100%;
    height: auto;
  }

  /* Shop Section Responsive */

  .dividerShop-container {
    padding: 0 50px;
  }

  .headingShop-container h1 {
    font-size: 28px;
  }

  .headingShop-container p {
    font-size: 16px;
  }

  .products-container .product-container h1 {
    font-size: 20px;
  }

  .products-container .product-container h2 {
    font-size: 14px;
  }

  /* About Section Responsive */

  .dividerAbout-container {
    padding: 30px;
    min-height: 100vh;
  }

  .dividerAbout-container .about-container {
    margin-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .about-container .aboutHeading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    width: 100%;
    padding: 20px;
    flex: 1;
  }

  .aboutHeading-container h2 {
    font-size: 20px;
    letter-spacing: 1px;
    color: rgba(0, 85, 0, 0.9);
    margin-bottom: 5px;
    margin-top: 60px;
  }

  .aboutHeading-container h1 {
    font-size: 28px;
    line-height: 25px;
  }

  .aboutHeading-container p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 70px;
  }

  .about-container .aboutImg-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    flex: 1;
    width: 300px;
    overflow: hidden;
  }

  .aboutImg1 img {
    height: 100%;
    width: 100%;
  }

  /* Contact Section Start */

  .dividerContact-container {
    padding: 30px 20px;
    min-height: 100vh;
    position: relative;
    z-index: 100;
  }

  .dividerContact-container .contact-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }

  .contact-container .left-contact {
    width: 100%;
    min-height: unset;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .left-contact h1 {
    font-size: 25px;
    color: rgba(0, 85, 0, 0.9);
    margin-top: 30px;
  }

  .left-contact .otherWays-container {
    display: flex;
    flex-direction: column;
    padding-top: 0;
  }

  .otherWays-container > h2 {
    font-size: 18px;
    font-weight: 700;
    color: rgba(0, 85, 0, 0.9);
  }

  .topOther-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 150px;
  }

  .topOther-container .leftOther-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .leftOther-container h2 {
    font-size: 16px;
    font-weight: 500;
  }

  .leftOther-container a {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 85, 0, 0.9);
  }

  .topOther-container .rightOther-container {
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .rightOther-container h2 {
    font-size: 16px;
    font-weight: 500;
  }

  .rightOther-container a {
    font-size: 16px;
    font-weight: 500;
    color: rgba(0, 85, 0, 0.9);
  }

  .bottomOther-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 20px;
  }

  .bottomOther-container h2 {
    font-size: 16px;
    font-weight: 500;
  }

  .contact-container .right-contact {
    width: 100%;
    height: unset;
  }

  .right-contact .form-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .form-container .nameInput-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30%;
    width: 100%;
  }

  .nameInput-container .firstName-container,
  .nameInput-container .lastName-container {
    width: 50%;
  }

  .firstName-container h1,
  .lastName-container h1 {
    font-size: 16px;
    font-weight: 600;
    color: rgba(0, 85, 0, 0.9);
  }

  .firstName-container input,
  .lastName-container input {
    padding: 5px;
    border: none;
    width: 90%;
    border-bottom: 2px solid black;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 600;
  }

  .form-container .email-container,
  .form-container .message-container {
    width: 100%;
  }

  .form-container .email-container {
    margin-top: 30px;
  }

  .message-container {
    margin-top: 30px;
  }

  .email-container h1,
  .message-container h1 {
    font-size: 17px;
    font-weight: 600;
    color: rgba(0, 85, 0, 0.9);
  }

  .email-container input,
  .message-container textarea {
    padding: 3px;
    border: none;
    width: 95%;
    border-bottom: 2px solid black;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    font-weight: 600;
  }

  .btn-container input {
    padding: 11px 16px;
    width: 120px;
    text-align: center;
    outline: none;
    background-color: rgba(214, 214, 214, 0.973);
    border: 1px solid rgba(0, 85, 0, 1);
    border-radius: 50px;
    cursor: pointer;
    color: rgba(0, 85, 0, 0.9);
    font-size: 16px;
    transition: background-color 0.5s ease-in-out;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .btn-container input:hover {
    background-color: rgba(245, 245, 245, 0.6);
  }

  /* Footer Section Responsive */

  .footerDivider-container {
    height: auto;
    width: 100%;
    padding: 40px 50px;
    position: relative;
    background-color: rgba(214, 214, 214, 0.973);
    box-sizing: border-box;
  }

  .footerDivider-container .footer-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    height: 100%;
  }

  .footer-container .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }

  .footer a {
    color: rgb(48, 48, 48);
    text-decoration: none;
    font-weight: 600;
    margin-bottom: 10px;
    display: inline-block;
    transition: color 0.4s ease-in-out;
  }

  .footer a:hover {
    color: rgba(0, 85, 0, 1);
  }

  .iconFooter-container a {
    margin-right: 10px;
  }
}
